<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500&amp;subset=cyrillic-ext" rel="stylesheet">
      <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="container">
        <div class="map" id="map"></div>
        <div class="form-overlay">
        <div class="form">
            <div class="form__header">
                <div class="header__address"></div>
                <div class="btn-close"></div>
            </div>
            <div class="form__container">
                <div class="form__reviews">
                    <div class="form__review-row">
                        <span class="form__review-comment">Здесь пока нет отзывов...</span>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__heading">ВАШ ОТЗЫВ</div>
                </div>
                <form action="" class="comment-form">
                    <div class="form__row">
                        <input type="text" placeholder="Ваше имя" class="comment-form__name comment-form__input">
                    </div>
                    <div class="form__row">
                        <input type="text" placeholder="Укажите место" class="comment-form__place comment-form__input">
                    </div>
                    <div class="form__row">
                        <textarea type="textarea" placeholder="Поделитесь впечатлениями" class="comment-form__comment comment-form__input"></textarea>
                    </div>
                    <div class="form__row form__row--aligned-right">
                        <button type="submit" class="form__btn-submit">Добавить</button>
                    </div>
                </form>
            </div>  
        </div>
    </div>
    </div> 
</body>
</html>